body{
    background-color: black;
}

.mid_section{
    display: block;
    text-align: center;
    padding:20% 0;
}

body {
    background-image: url('./Photo0.PNG');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 63% ;
  }

p{
    color: antiquewhite;
}


.button {
    border: none;
    color: #696969;
    padding: 12px 14px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Papyrus";
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    height:160px;
    width:400px;
    position: absolute;
    left: 10%;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #696969;
    box-shadow: 0 8px 16px 0 rgba(247, 21, 21, 0.8), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button1:hover {
    background-color: #8B0000;
    color: antiquewhite;
    transform: rotate(1.0turn);
    border: 2px solid red;
  }
  
